/* --------------- NAVBAR --------------- */
.navbar-container {
  position: fixed;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #030303;
}
.menu-wrapper {
  display: flex;
  align-items: center;
}

.menu-title {
  position: relative;
  text-transform: uppercase;
  margin: 0 1rem;
  color: #e2e2e2;
  font-size: 0.9rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.menu-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  left: 0;
  bottom: -5px;
  background: #927953;
  z-index: -1;
}
.btn-hover::after {
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}
.btn-hover:hover::after {
  transform: scale(1, 1);
}

.logo {
  margin: 0 3rem 0 2rem;
}
.nav-icons-wrapper {
  width: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 4rem;
}

.cart-icon {
  padding-bottom: 0.1rem;
}
.cart-icon-number {
  color: #927953;
  font-size: 0.8rem;
  font-weight: 700;
  transform: translateY(6px);
  text-align: center;
}
