@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap");

.footer-body {
  font-family: "Red Hat Display", sans-serif;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  /* margin-top: 5rem; */
}

img {
  color: #927953;
}
.container {
  max-width: 1170px;
  margin: auto;
  min-height: 12rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #0e0e0e;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #927953;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links span {
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links span:hover {
  background-color: #927953;
}

img {
  padding-top: 12px;
}

.singUp-btn {
  cursor: pointer;
  margin-top: 1.5rem;
  background-color: #927953;
  border: none;
  outline-style: none;
  color: rgb(255, 255, 255);
  padding: 0.6rem 2rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.singUp-btn:hover {
  background-color: #ffffff;
  color: #24262b;
}
/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
