@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Red Hat Display", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
/* --------------- All PRODUCT / CATEGORYS ---------------  */
.big-category-title {
  text-align: center;
  text-transform: uppercase;
  background-color: #0e0e0e;
  color: #728386;
  margin-bottom: 2rem; /* * */
  padding: 10rem 0 5rem 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.486);
}
.category-info {
  max-width: 100rem; /* * */
  margin: 0 auto; /* * */
  display: flex;
  flex-wrap: wrap;
}
.product {
  width: 25rem;
  height: 25rem;
  padding: 2rem;
  border-right: 1px solid #d3d3d3;
  text-align: center;
  cursor: pointer;
}
.product-title {
  margin-top: 1.5rem;
  text-transform: uppercase;
}
.product-price {
  font-weight: 400;
  color: rgb(120, 120, 120);
}
.product-margin {
  margin: 1rem 0; /* * */
}
.products-category-wrapper {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  padding-left: 1rem;
}
/* All products small category titles */
.category-title {
  margin: 3rem 0 0.5rem 1.5rem;
  text-transform: uppercase;
  padding-left: 1rem;
}

@media screen and (max-width: 1602px) {
  .category-info {
    max-width: 75rem;
  }
}
@media screen and (max-width: 1200px) {
  .category-info {
    max-width: 63rem;
  }
  .product {
    width: 21rem;
    height: 21rem;
  }
}
@media screen and (max-width: 1000px) {
  .category-info {
    max-width: 48rem;
  }
  .product {
    width: 16rem;
    height: 19rem;
    padding: 1rem 2rem;
  }
  .product-title {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .product-price {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .category-info {
    max-width: 100%;
  }
  .product {
    width: 11rem;
    height: 12rem;
    padding: 0.5rem;
  }
  .product-title {
    margin-top: 0.5rem;
    font-size: 0.7rem;
  }
  .product-price {
    font-size: 0.7rem;
  }
  .big-category-title {
    padding: 7rem 0 2rem 0;
    font-size: 1.5rem;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}
#footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
